.button__text {
    font-size: var(--font-main-size);
    color: var(--color-accent-main);
    cursor: pointer;
}

.button__wrapper {
    border: 0;
    padding: 0;
    background-color: transparent;
}