.input__element {
    border: 1px solid transparent;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color-input-background);
    padding: 10px;
    font-size: var(--font-input-size);
}

.input__element:hover {
    border-color: var(--color-input-border);
}

.input__element:focus {
    outline: 0;
}

.label__element {
    display: block;
}

.input__wrapper {
    width: 100%;
    position: relative;
}

.stations__list__wrapper {
    width: 100%;
    max-height: 300px;
    position: absolute;
    background-color: white;
    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
}

.button__wrapper {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.button__wrapper:hover {
    background-color: var(--color-input-background);
}

.label__wrapper {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text__label {
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
}

.text__label:hover .cross_btn{
    display: block;
}

.cross_btn {
    background-color: red;
    display: none;
    position: absolute;
    right: 10px;
    width: fit-content;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.cross {
    width: fit-content;
    height: 12px;
    position: relative;
}

.cross::before,
.cross::after {
    width: 2px;
    height: 12px;
    content: '';
    position: absolute;
    background-color: var(--color-line-0);
}

.cross::before {
    transform: rotate(45deg);
}

.cross::after {
    transform: rotate(-45deg);
}