.page__wrapper {
    display: flex;
    height: 100%;
}

.menu__wrapper {
    box-sizing: border-box;
    width: 310px;
    padding: 10px;
}

.clock__wrapper {
    margin-top: 10px;
}

.buttons__wrapper {
    margin-top: 10px;
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "adap adap"
    "dist conf";
}

.button__adaptive {
    grid-area: adap;
}

.button__distribution {
    grid-area: dist;
}

.button__confirm {
    grid-area: conf;
}

.filters__wrapper {
    margin-top: 10px;
}

.searchbar__wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 4px;
    align-items: end;
}

.filters__wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input__time {
    border: 0;
    border-bottom: var(--color-accent-main) 2px solid;
    margin-left: var(--standart-margin-top);
    cursor: pointer;
}

.input__time:focus {
    outline: none;
}

.time__wrapper {
    display: flex;
    justify-content: space-between;
}